services:
  jvim:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
      args:
        JVIM_BASE: ${JVIM_BASE:-ghcr.io/becktor/jvim:latest}
        TMUX_VERSION: ${TMUX_VERSION:-}
    image: jvim:${USER_UID:-1000}
    container_name: jvim
    hostname: jvim
    stdin_open: true
    tty: true

    volumes:
      - jvim-data:/home/nvim/.local/share/nvim
      - ${DOTFILES_PATH:-${HOME}/git/dotfiles}/nvim:/home/nvim/.config/nvim
      - ${WORKSPACE:-${HOME}/projects}:/home/nvim/workspace

    environment:
      - TERM=xterm-256color
      - COLORTERM=truecolor

    working_dir: /home/nvim/workspace

volumes:
  jvim-data:
